body{
  background-color: rgb(153, 0, 77);;
  color:  rgb(0, 0, 0);

}
.place{  
    width: 907px;
    background-color:rgb(231, 204, 226);
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgb(192, 122, 186);
    padding: 20px;
   
}

p{
    text-align: justify;
    text-indent:  50px;
}

h1 a{
    position: relative;
    font-family: 'Germania', cursive;
    color: black;
    text-decoration: none;
}

h1 a:hover{
    color: rgb(153, 0, 77);
}

h5 a{
    position: relative;
    top: -56px; 
    left: 40px;
    font-family: 'Germania', cursive;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 2px dashed rgb(12, 12, 12);
 }

 h5 a:hover{
    color: rgb(153, 0, 77);

 }

.place img#logo{
    position: relative;
    left: 0.8%;  
    padding: -3px 0px 0 0;
    
}

.place img#icone{
    position: relative;
    padding: -1px -1px 0 0;
}
 
/* Formatação do Menu */
nav#menu{
    display: block;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top:  -20px;
    left: 772px;

}
nav#menu li{
    display: inline-block;
    background-color:  rgb(153, 0, 77);;
    padding: 5PX;
    margin: 1px;
    transition: 1s;
    font-family: 'Teko', sans-serif;
    font-size: 20pt;
    border-radius:15px;
}
 nav#menu li:hover{
    background-color: rgb(231, 204, 226);
    color: rgb(153, 0, 77);
    text-decoration: underline;
    font-family: 'Teko', sans-serif;  
    font-size: 30pt;
 }

nav#menu h1{
    display: none;
}


.icones-sociais li
{
    display: inline-block;
    float: left;
    margin-left: 5px;
    margin-top: 7px;
    width: 40px;
    height: inherit;
}


.icones-sociais ul {
    display: inline-block;
    height: inherit;
    float: left;
    width: 75%;
    margin: 0;
    line-height: 60px;
    
  }
.rodape{
    background-color:  rgb(251, 253, 176);  
    clear: both;
    height: 60px;      
    color: rgb(0, 0, 0);    
    font-size: 15px;
    font-family: 'Libre Franklin', sans-serif;
}

.rodape span{ 
  float: left;
  width:45%;
  line-height: 60px; /* Mesma altura do rodapé */ 
}



